extends layout

block content
	h2.pagetitle= title
	div.pagecontent
		ul#forms-list
			for form in formslist
				li
					a.btn.btn-default(href='/formedit/#{form.id}' title='Edit')
						i.glyphicon.glyphicon-pencil= Edit
					a.btn.btn-default(href='/formview/#{form.id}' title='View')
						i.glyphicon.glyphicon-search= View
					span= form.title

	div.pagefooter
		a.btn.btn-primary(href='/formadd') Create a Form